*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    width: 90vw;
}
.panel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: .2;
    margin: 10px;
    position: relative;
    transition: flex 0.8s ease-in;
}

.panel h3 {
    position: absolute;
    font-size: 26px;
    left: 20px;
    bottom: 20px;
    opacity: 0;
}
.panel.active{
    flex: 5;
}

.panel.active h3{
   opacity: 1;
   transition: opacity 0.4s ease-in 0.4s;
}

@media(max-width:700px) {
    .flex-container{
        width: 100vw;
    }
    .panel:nth-of-type(5){
        display: none;
    }

}

@media(max-width:500px) {
    .flex-container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }

}